In [2]:
# Pandas is used for data manipulation
import pandas as pd
# Read in data and display first 5 rows
features = pd.read_csv('/home/xu/Documents/git/Roza_2019/GS/Roza2019_06_GS.txt', sep = '\t')
features.iloc[:10, :10]

,chr1.1_118328,chr1.1_118386,chr1.1_146744,chr1.1_146745,chr1.1_146748,chr1.1_146813,chr1.1_146845,chr1.1_146992,chr1.1_173569,chr1.1_173638
100_S86_R1_001,2,1,1,2,1,4,4,4,3,4
104_S109_R1_001,4,1,0,0,0,4,4,3,2,4
107_S121_R1_001,4,0,0,0,2,4,4,3,2,4
108_S40_R1_001,4,0,1,1,1,3,4,4,2,2
111_S51_R1_001,3,1,0,0,0,4,4,4,2,4
112_S63_R1_001,4,0,3,3,3,4,4,3,3,4
113_S75_R1_001,4,0,1,1,1,4,4,2,2,1
115_S87_R1_001,4,0,1,2,2,3,2,3,2,1
116_S98_R1_001,2,1,0,0,3,4,4,4,2,3
117_S110_R1_001,4,0,0,0,3,3,3,4,1,2

In [4]:
pheno = pd.read_csv('/home/xu/Documents/git/big_files/BLUE_Yi_sqrt_SpATS_DArT.csv')
pheno.iloc[:10, :10]

,Roza2019_VCF_ID,may_20,jun_20,jul_20,aug_20,sep_20,may_21,jun_21,jul_21,aug_21
0,1_S502_R1_001,0.823697,0.791357,0.626798,0.621805,0.361237,0.606106,0.357981,0.487261,0.339005
1,4_S444_R1_001,0.824630,0.787806,0.618383,0.646591,0.407386,0.688818,0.472528,0.593768,0.553889
2,5_S1_R1_001,0.833069,0.690481,0.598505,0.556416,0.444338,0.632149,0.438156,0.566734,0.550341
3,6_S6_R1_001,0.746714,0.917990,0.878016,0.646060,0.359331,0.721128,0.405679,0.588227,0.618690
4,7_S456_R1_001,0.659492,0.763600,0.720088,0.573991,0.380440,0.593937,0.393029,0.544851,0.501395
5,9_S11_R1_001,0.838877,0.807992,0.803956,0.724411,0.356564,0.701074,0.379938,0.589005,0.607524
6,12_S468_R1_001,0.745466,0.714092,0.643185,0.677169,0.385896,0.549751,0.407233,0.536713,0.491773
7,13_S16_R1_001,0.679631,0.642564,0.712576,0.689680,0.317458,0.539595,0.349746,0.541915,0.547790
8,14_S20_R1_001,0.775459,0.792291,0.738972,0.748054,0.306401,0.697011,0.363045,0.584912,0.530710
9,15_S24_R1_001,0.793284,0.753322,0.649721,0.604761,0.309925,0.607414,0.296586,0.470989,0.485628